<?xml version="1.0" encoding="UTF-8"?>
<configuration monitorInterval="60" status="OFF">
<!-- Don't forget to set system property 
-DLog4jContextSelector=org.apache.logging.log4j.core.async.AsyncLoggerContextSelector
     to make all loggers asynchronous. -->
	<appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<!--控制台只输出level及以上级别的信息（onMatch），其他的直接拒绝（onMismatch） -->
			<ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="DENY" />
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] [%-5level] %logger{36} [%L] - %msg%n" />
		</Console>
	</appenders>
	<loggers>
		<root level="debug">
			<appender-ref ref="Console" />
		</root>
	</loggers>
</configuration> 